# Virtual Environment
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data (git에 올리지 않음)
data/

# VS Code
.vscode/

#pkl 파일 용량이슈
*.pkl
week2-serving/day7-cf-recommender/data/
week2-serving/day7-cf-recommender/outputs/

outputs/*.pkl
week2-serving/day7-cf-recommender/data/
week2-serving/day7-cf-recommender/outputs/